*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: inherit;

}

:root{
  font-size: 75%; 
}


body {
  font-size: 1.6rem;
  color:#e3e3e8;
  background: #191823;
  height: 100%;
  overflow: hidden;
  margin: 0;


}

body * {
  font-family:'roboto', sans-serif;
}

input, button {    
background-color: transparent;
border: 0;

}

